/* Global ===================== */
/* em relação de tag de hierarquia, a tag ID, será o mais poderoso. Ficando assim ----> ID < Injeção dentro do HTML com a tag style 
<style> dentro da tag html, por exemplo: <h1 style="color:gray < e o mais o forte é o !important; dentro do CSS. Exemplo: 
h1 {
    color: red !important;
}">*/
:root {
    --dark-blue: #363f5f;
} /* ELE É UM SELETOR QUE VAI REFERÊNCIAR  A RAIZ DO HTML*/

* {
    margin: 0; /* é a margem, espaçamento que você tem entre um elemento e outro, parte externa do elemento*/
    padding: 0; /* Preenchimento interno dos elementos */
    box-sizing: border-box; /* É como está sendo feito a medida da caixa */
} /*
    isso é um seletor universal, ele seleciona todas as tags que eu tiver no CSS
    */

body {
    background: #f0f2f5; /* é para alterar o fundo da página*/
    font-family:'Poppins', sans-serif; /* Familia da fonte da escrita que você quiser.*/
}

.container {
    width: min(90vw, 800px); /*Largura */
    margin: auto;
}

/* Titles ===================== */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem; /* Espaçamento a baixo do titulo*/
    color: var(--dark-blue);

    font-weight: normal; /* É a tonalidade da cor do texto*/
}


/* Header ===================== */
header {
    background: #2D4A22;
    padding: 2rem 0 10rem;
    text-align: center; /*Alinha o conteúdo ao centro. */
}

#logo {
    color: #fff;
    font-weight: 100; /* Peso da fonte*/
}

/* Balance ===================== */
#balance {
    margin-top: -8rem; /*Subiu o texto */
}

#balance h2 {
    color:white;
    margin-top:0;
}

/* Cards ===================== */
.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem; /* arredondamento das bordas */

    margin-bottom: 2rem; /* Espaçamento em baixo */

    color: var(--dark-blue);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem; /* Tamanho da fonte*/
}

.card p {
    font-size: 2rem;
    line-height: 3rem; /* Separação de uma linha para outra.*/

    margin-top: 0.25rem;
}

.card.total {
    background: #49AA26;
    color: white;
}

/* Table ===================== */
#data-table {
    width: 100%; /*Largura de 100% */
    border-spacing: 0 0.5rem; /* ele tirou a separação de bordar que vem por padrão na tabela, que foi 0 para vertical e dps add 0.5 no eixo horizontal*/
    color: #969cb3;
}

table thead tr th:first-child,  /*ele vai trabalhar na busca do primeiro filho que foi do tr, ele vai pegar o primeiro th dentro do tr */
table tbody tr td:first-child{  /*ele vai trabalhar na busca do primeiro filho que foi do tr, ele vai pegar o primeiro td dentro do tr */
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead th {
    background: white;

    font-weight: normal;
    padding: 1rem 2rem;

    text-align: left;
}

table tbody tr {
    opacity: 0.7
}

table tbody tr:hover {
    opacity: 1
}

table tbody td {
    background:white;
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: #12a454;
}

td.expense {
    color: #e92929;
}

/* Footer ===================== */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);

    opacity: 0.6;
} 